<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="red">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <center>
      <br>
      <br>
      <div class="row">
      <div class="header-left">
      <h2 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h2>
      <h4>Alexandre V. Pinto, PhD Student</h4>
      <h4>up201402847@fc.up.pt</h4>
      <h4><a href="https://laqv.requimte.pt/research/research-groups/407-high_performance_computing_in_molecular_modelling" target="_blank">High Performance Computing in Molecular Modelling Research Group - LAQV@REQUIMTE</a></h4>
      <h4>Department of Chemistry and Biochemistry, Faculty of Sciences, University of Porto</h4>
      </div>
      <div class="header-right">
      <img class="logo" src="assets/img/US_TUTORIAL.png" alt="biochem logo" width="1000" height="521" />
      </div>
      </div>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/" class="btn"><b>Tutorial</b> <br> Main Page</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_I.html" class="btn"><b>Section I</b> <br> Geometry Optimization</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_II.html" class="btn"><b>Section II</b> <br> Equilibration</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_III.html" class="btn"><b>Section III</b> <br> Molecular Dynamics</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_IV.html" class="btn"><b>Section IV</b> <br> Umbrella Sampling</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_V.html" class="btn"><b>Section V</b> <br> Result Analysis</a>
      <center>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <footer class="site-footer" role="banner">
      <center>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/" class="btn"><b>Tutorial</b> <br> Main Page</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_I.html" class="btn"><b>Section I</b> <br> Geometry Optimization</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_II.html" class="btn"><b>Section II</b> <br> Equilibration</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_III.html" class="btn"><b>Section III</b> <br> Molecular Dynamics</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_IV.html" class="btn"><b>Section IV</b> <br> Umbrella Sampling</a>
      <a href="https://arvpinto.github.io/dynamic_qmmm_cp2k/enzyme_TS_cp2k_V.html" class="btn"><b>Section V</b> <br> Result Analysis</a>
      <br>
      <br>
      {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <br>
      <center>
    </footer>
  </body>
</html>
